<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<link rel="stylesheet" href="resources/css/loginPage.css">
</head>
<body>
	<div class='container'>

		<h1>LOGIN</h1>
		<div id='status-message'></div><br>
		<form >

			<div class='tbox'>
				<input type="email" name="email" id="email" placeholder="email@xyz.com">
			</div>

			<div class='tbox'>
				<input type="password" name="password" id="password" placeholer='password'>
			</div>

			<input type="submit" class='btn' id="loginBtn" value="Login">
		</form>

		<a class='b1' href="">Forgot Password?</a>
		<a class='b2' href="">Sign up!</a>
	</div>

	<script src="resources/js/login.js"></script>
</body>
</html>